* {
   
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
 
}

/* Shared Style Start */
.Medium-Sea-Green-bg {
     background-color: #30B868;
     color: #fff;
}

.Medium-Sea-Green-text {
    color: #30B868;
}


/* Shared Style end */

/* nav style part start */
nav {
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1328px;
    /* max-width: 1057px; */
    margin: 12px auto;
}

nav .nav-logo-container img{
    max-width: 139px;
}

nav .nav-menu-container ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

nav .nav-menu-container ul li {
    list-style: none;
    font-size: 2rem;
}

nav .nav-menu-container ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}

nav .nav-button-container button {
   font-weight: 600;
   font-size: 1rem;
   border: none;
   padding: 12px 16px;
   border-radius: 5px;
}



/* nav style part end */


/* banner style part start */

#banner-main-container{
    display: flex;
    justify-items: center;
    align-items: center;
   background-image: url(../assets/hero-bg.png);
   height: 670px;
    
}

.banner-content-and-btn-container {
    
      max-width: 1328px;    
      margin: 0 auto;
      text-align: center;
}


.banner-title-container h1 {
     font-weight: bold;
     font-size: 3.6rem;
}

.banner-small-description-container p {
    font-size: 18px;
    margin: 16px 0px 32px 0px;
    line-height: 30px;
}

.banner-2-btn-container .banner-btn-1 {
    font-weight: 600;
    font-size: 1rem;
    border: none;
    padding: 16px 16.5px;
    border-radius: 5px;
    margin-right: 1rem;
}

.banner-2-btn-container .banner-btn-2 {
    font-weight: 600;
    font-size: 1rem;
     padding: 16px 16.5px;
    border-radius: 5px;
    border: 2px solid green;
}

/* banner style part end */