* {
   
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
 
}

/* Shared Style Start */
.Medium-Sea-Green-bg {
     background-color: #30B868;
     color: #fff;
}

.Medium-Sea-Green-text {
    color: #30B868;
}

.cursor {
    cursor: pointer;
}

.btn-hover:hover {
    background-color: black;
    color: #30B868;
    
}
/* Shared Style end */

/* nav style part start */
nav {
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1328px;
    /* max-width: 1057px; */
    margin: 12px auto;
}

nav .nav-logo-container img{
    max-width: 139px;
}

nav .nav-menu-container ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

nav .nav-menu-container ul li {
    list-style: none;
    font-size: 2rem;
}

nav .nav-menu-container ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}

nav .nav-button-container button {
   font-weight: 600;
   font-size: 1rem;
   border: none;
   padding: 12px 16px;
   border-radius: 5px;
}



/* nav style part end */


/* banner style part start */

#banner-main-container{
    display: flex;
    justify-items: center;
    align-items: center;
   background-image: url(../assets/hero-bg.png);
   height: 670px;
    
}

.banner-content-and-btn-container {
    
      max-width: 1328px;    
      margin: 0 auto;
      text-align: center;
}

.banner-content-and-btn-container .Early-access-Now-Open-text {
    border: 2px solid green;
    font-size: 1rem;
    font-weight: 500;
    color: #30B868;
    background-color: #fff;
    max-width: 250px;
    padding: 8px 12px;
    text-align: center;
    margin: 10px auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.Early-access-Now-Open-text img {
    width: 20px;
}


.banner-title-container h1 {
     font-weight: bold;
     /* font-size: 3.6rem; */
     
     font-size: 4.8rem;
}

.banner-small-description-container p {
    font-size: 18px;
    margin: 16px 0px 32px 0px;
    line-height: 30px;
    color: #fff;
}

.banner-2-btn-container .banner-btn-1 {
    font-weight: 600;
    font-size: 1rem;
    border: none;
    padding: 16px 16.5px;
    border-radius: 5px;
    margin-right: 1rem;
}


.banner-2-btn-container .banner-btn-2 {
    font-weight: 600;
    font-size: 1rem;
     padding: 16px 16.5px;
    border-radius: 5px;
    border: 2px solid green;
}

/* banner style part end */



/* Notes don't fail, Structure does style part start */

.Notes-don-t-fail-main-container {
    max-width: 1328px;  
    margin: 50px auto 44px auto;
    text-align: center;
}

.Notes-don-t-fail-main-container .big-title {
    font-weight: bold;
    font-size: 2.5rem;
}

.Notes-don-t-fail-main-container .short-description {
    color: #627382;
    font-size: 1rem;
    margin-top: 16px;
    margin-bottom: 10px;
}
/* Notes don't fail, Structure does style part end */


/* four Box style part start */

#four-box-section-main-container {
   
    max-width: 1328px;
    margin: 44px auto 120px auto;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.shared-box-style {
    /* border: 2px solid; */
    box-shadow: 0px 0px 2px #00000064;
    width: 250px;
    height: 250px;
    padding: 16px;
    border-radius: 8px;
}

.box-container {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.box-container .box-img-container img {
    background-color: #F95555;
    padding: 14px;
    border-radius: 100%;
}

.box-container .box-title-container h3 {
    font-weight: 600;
    font-size: 24px;
    color: #001931;
    margin: 10px 0px;
}

.box-container .box-small-description-container p {
   font-size: 1rem;
   color: #627382;
}

/* four Box style part end */


/* Your second brain structured by design and image section start */

/* total Your second brain structured by design and image section parent */
.your-second-brain-structured-by-design-and-image-main-container {
    max-width: 1328px;
     display: flex;
     gap: 60px;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
}


/* the solution text */
.your-second-brain-content-container .The-Solution {
   color: #30B868;
   font-weight: 500;
   font-size: 1rem;
}
/* big title */
.your-second-brain-content-container .Your-second-brain-title {
    color: #001931;
    font-weight: bold;
    font-size: 3rem;
    margin: 16px 0px;
}
/* short description */
.your-second-brain-content-container .Your-second-brain-short-description {
    color:#627382;
    font-size: 1rem;
    margin-bottom: 30px;
}

 /* tik image and content part */
    .tik-content {
        font-weight: 500;
        font-size: 1rem;
        color: #001931;
    }

    .tik-and-content-flex-align {
        display: flex;
        gap:2px;
        margin-bottom: 1rem;
    }

/* Your second brain structured by design and image section end */


/* Ready to think more clearly section main container start */
.ready-to-think-more-clearly-text-and-btn-main-container {
 max-width: 1328px;  
 margin: 50px auto;
 height: 384px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #F7F6F2;
}

.Ready-to-think-more-big-title {
   font-weight: bold;
   font-size: 2.5rem;
   color: #001931;
}

.Ready-to-think-more-short-description {
  color: #627382;
  font-size: 1rem;
  margin: 16px 0px 24px 0px;

}

.Get-Early-Access-btn {
   padding: 16px 18px;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   gap:10px;
   font-size: 1rem;
   font-size: 600;
   border-radius: 5px;
   margin-bottom: 1rem;
}

/* simple text part (Free during early access • No credit card needed) */
.Free-during-early-access-No-credit-card-needed-ul-container {
    display: flex;
    gap: 25px;
    color: #627382;
    font-size: 1rem;
}

.first-list {
    list-style: none;
    
}

/* Ready to think more clearly section main container end */



/* footer part */

footer {
    background-color: #fff;
    background-color: #001931;
    color: #fff;
    height: 500px;
}


.footer-logo-and-social-link-and-copyright-main-container {
    max-width: 1328px;
    
    margin: 0 auto;
}

.footer-logo-image-and-social-link-container {
    /* margin-top: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 400px;

}

.social-links-part-container .social-links-text{
     font-weight: 500;
     font-size: 1.3rem;
     margin-bottom: 1rem;
     
}

.footer-social-icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.last-copy-right-icon-and-some-text-part {
    text-align: center;
    margin-top: 30px;
}